/anaconda3/
/.CFUserTextEncoding
/.DS_Store
/.Trash/
/.bash_history
/.bash_profile
/.bash_sessions/
/.conda/
/.ipynb_checkpoints/
/.ipython/
/.jupyter/
/.matplotlib/
/.python_history
/.rnd
/.ssh/
/.vscode/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/